body {
/*  margin: auto;
  border: 1px solid black;
  width: 800px;
*/}

header {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
}

p {
  padding: 20px;
  border: 1px solid rgb(225, 225, 225);
  width: 300px;
}
